@charset2 "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Adroid', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}